{{#modal-dialog container-class="sleep-video" close="closeVideo" alignment="top" }}

<div class="sleep-video" {{ action 'closeVideo' }}>
	{{ video-players source_mp4="/video/sleep.mp4" source_ogg="/video/sleep.ogv" source_webm="/video/sleep.webm" sleep=true }}
</div>


{{/modal-dialog}}